


<div class="card container m-5 mx-auto" id="cardLogin">
   <div class="card-body">
    <form action="/login" method="post">
    

      <div class="mt-5">
        <div class="input-group w-100 mx-auto">
          <span class="input-group-text">email</span>
          <input type="email" name="email" id="mail" class="form-control" required>
        </div>
      </div>


 

      <div class="mt-5">
        
        <div class="input-group w-100 mx-auto">
          <span class="input-group-text">password</span>
             <input type="password" name="password" id="password" class="form-control required">
        </div>
        
      </div>

    <input type="submit" value="Enter" class="btn btn-warning  mt-5 w-75 ms-5 mb-3 ">
    <a href="#" style="margin-left: 80px;"> I forgot the password</a>
    
    </form>
   </div>
</div>

   
