
<div class="container mt-5 p-4 card" id="view">
    <h1 class="card-body" id="h1">{{posts.title}}</h1>
    <hr>
    <small class="mb-5 bg-secondary text-light text-center rounded " id="date">Post date: {{posts.date}}</small>
    
    {{posts.content}}
</div>